<div class="homepage">
    <h1>Welcome to Thech Journal</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/profile">Profile</a>
        {{#if loggedIn}}
            <a href="/logout">Logout</a>
        {{else}}
            <a href="/login">Login</a>
            <a href="/login">Sign Up</a>
        {{/if}}
    </nav>
    <div class="journals">
        {{#each posts}}
            <div class="journal">
                <h2><a href="/journals/{{id}}">{{title}}</a></h2>
                <p>Posted on {{dateCreated}}</p>
            </div>
        {{else}}
            <p>No tech journal available.</p>
        {{/each}}
    </div>
</div>
