<div class="journal">
    <h2>{{title}}</h2>
    <p>By {{user.name}} on {{date_created}}</p>
    <div class="journal-content">
        {{{description}}}
    </div>
    <div class="comments">
        <h3>Comments</h3>
        {{#each comments}}
            <div class="comment">
                <p><strong>{{user.name}}</strong> on {{date_created}}: {{{text}}}</p>
            </div>
        {{/each}}
        {{#if logged_in}}
            <form id="comment-form">
                <textarea id="comment-text" username="comment" placeholder="Leave a comment..."></textarea>
                <button type="submit">Submit</button>
            </form>
        {{else}}
            <p>You must be logged in to leave a comment.</p>
        {{/if}}
    </div>
</div>

<script src="/js/comment.js"></script>