<div class="profile">
    <h2>Welcome, {{name}}!</h2>
    <nav>
        <a href="/">Home</a>

    </nav>
    <div class="journal-list">
        <h2>Your Journal</h2>
        {{#each journals}}
            <div class="journal">
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                <p>Posted on {{date_created}}</p>
                <a href="/editjournal/{{id}}">Edit</a>
                <button class="delete-journal" data-id="{{id}}">Delete</button>
            </div>
        {{else}}
            <p>You have no posts yet.</p>
        {{/each}}
        <button id="new-journal">Add New Journal</button>
    </div>
</div>
 <script src="/js/profile.js"></script>